.nx/
node_modules/

# Environment variables
# root
.env
.env.local
.env.*.local

# Specific paths
apps/.env
apps/**/.env
apps/.env.local
apps/**/.env.local
libs/shared/storage/db/.env
libs/shared/storage/db/.env.local

# Build output
apps/*/dist/
apps/*/out-tsc/
libs/auth/dist/
libs/shared/types/dist/
libs/shared/utils/dist/
libs/shared/api/dist/
libs/sentry/dist/
libs/shadcn/ui/dist/