HOST=0.0.0.0
PORT=4000

# url's on dev mode
FRONTEND_URL=http://localhost:4200
AUTH_SERVICE_URL=http://localhost:5001
BOOKING_SERVICE_URL=http://localhost:5002
INVENTORY_SERVICE_URL=http://localhost:5003
NOTIFICATION_SERVICE_URL=http://localhost:5004
JWT_SECRET=my-jwt-token
